@model Carwash.Models.VehicleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Buscar</h1>
    <hr />
<div     class="row">
        <div class="col-md-4">
            <form asp-action="Search">
            <div class="form-group">
                <label asp-for="NumbrePlate" class="control-label"></label>
                <input  asp-for="NumbrePlate" class="form-control" />
                <span asp-validation-for="NumbrePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
